/* Framwork Clases */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --eee-color: #eee;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.f-wrap {
  flex-wrap: wrap;
}

.d-grid {
  display: grid;
}

@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}

.gap-20 {
  gap: 20px;
}

@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 50px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: var(--grey-color);
}

.bg-eee {
  background-color: #eee;
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-orange {
  background-color: var(--orange-color);
}

.bg-green {
  background-color: var(--green-color);
}

.bg-orange {
  background-color: var(--orange-color);
}

.bg-red {
  background-color: var(--red-color);
}

.bg-ccc {
  background-color: #ccc;
}

.bg-b1 {
  background-color: #d5d3d3;
}

.c-black {
  color: black;
}

.c-grey {
  color: var(--grey-color);
}

.c-white {
  color: white;
}

.c-blue {
  color: var(--blue-color);
}

.c-orange {
  color: var(--orange-color);
}

.c-green {
  color: var(--green-color);
}

.c-red {
  color: var(--red-color);
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.txt-c {
  text-align: center;
}

.txt-r {
  text-align: right;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-25 {
  font-size: 25px;
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}

.fw-400 {
  font-weight: 400;
}

.f-family {
  font-family: "Homemade Apple", sans-serif;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}

.rad-6 {
  border-radius: 6px;
}

.rad-10 {
  border-radius: 10px;
}

.r-half {
  border-radius: 50%;
}

.b-none {
  border: none;
}

.border-eee {
  border: 1px solid #eee;
}

.border-top {
  border-top: 1px solid var(--eee-color);
}

.border-bottom {
  border-bottom: 1px solid var(--eee-color);
}

.broder-ccc {
  border: 2px solid #ccc;
}

.outline-none {
  outline: none;
}

.w-full {
  width: 100%;
}

.w-100 {
  width: 100px;
}

.w-fit {
  width: fit-content;
}

.h-full {
  height: 100%;
}

.h-20 {
  height: 20px;
}

.h-200 {
  height: 200px;
}

.btn-shape {
  border-radius: 6px;
  padding: 10px 20px;
}

/* save {
  margin-left: 40px;
} */

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.header-space1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.header-space2 {
  margin-top: 0;
  margin-bottom: 10px;
}